/* Colores bandera El Oro */
.bg-oro {
    background-color: #FFD700 !important; /* Amarillo */
}

.bg-verde-oro {
  background: linear-gradient(
    90deg,
    #145633 0%,
    #23784b 30%,   /* antes estaba cerca del 33% o 35% */
    #b9ab09 30%,
    #eadd47 70%,   /* un centro un poco más ancho */
    #145633 70%,
    #145633 100%
  );
}


.text-oro {
    color: #FFD700 !important;
}

.text-verde {
  font-weight: bold;
    color: #005f2c !important;
}

/* Estilos adicionales */